@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
}



li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #ffffff;
  overflow-x: hidden;
 
}

section {
  padding:  2rem 0;
}

input {
  border: none;
  outline: none;
  background: transparent;
}
header{
  position: relative;
  overflow: hidden;
}

#top-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3rem;
  padding: 14.5px, 460px, 14.5px, 460px;
  background: #527697;

  p {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.75rem;
  width: 100vw;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 0 1.875rem;
  z-index: 2;
  background-color: white;
  position: sticky;

 
}
.srcolled #banner {
  position: fixed;
  transform: translateY(-40px);

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.375rem;
  transform: translateY(0.438rem);
}

.left-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.list {
  padding-left: 1.25rem;
}

.list ul {
  display: flex;
  gap: 2rem;
}

.list ul li a {
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.logo {
  width: 172px;
  height: 38px;
  top: 13px;
  left: 634.03px;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.25px;
  font-family: "Audiowide";
  background: transparent;
}

.middle {
  transform: translate(-3.125rem, -1.25rem);
}

.right-bar {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.searchbar {
  border: 0.75px solid rgba(214, 214, 214, 1);
  box-shadow: 0px 0.7450980544090271px 2.9803922176361084px 0px
    rgba(0, 0, 0, 0.25);
  border-radius: 0.75px;
  width: 16rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.input {
  width: 13rem;
}

/* home section */

#home {

  height: max-content;
  width: 100vw;
  object-fit: cover;
  position: relative;
  /* background: #975555; */
  padding: 0px;
  overflow: hidden;
}

video{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  aspect-ratio: 16/9;
}


.home__content{
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  gap: 3rem;
  overflow: auto;
  width: 100%;
  height: max-content;
  /* background-color: red; */

}
.home__content__left img{
  height: 21rem;
  width: 24rem;

}
.home__content__right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
  /* background-color: blue; */

}

.home__content__right .description{
  font-size: 1rem;
  color: rgba(115, 115, 115, 1);

}


.home__content__right .title{
  font-size: 2rem;
  color: rgba(95, 95, 95, 1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.home__content-2 {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  padding: 4rem 1rem 3rem;
  gap: 3rem;
  overflow: hidden;
  width: 100%;
  /* height: 20%; */
  background-color: #f4f3f3;
  position: relative;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
  gap: 0.5rem;
  margin: 0 auto;
}
.heading h4 {
  font-size: 0.8rem;
}

.carousel__container {
  /* background-color: grey; */
  width: 100%;
  /* margin: 50px; */
  height: 100%;
  height: max-content;
  padding:  50px

 
  
  
}

@media screen and (max-width: 500px) {
  .home__content-2{
    padding: 2rem 1rem 1.5rem;
  }
  .carousel__content {
  
    padding: 10px 55px;
    height: 300px;
  }

 
}
.carousel__content{
  /* background-color: red; */
  overflow: hidden;
  margin: 0px 50px;


}

.card {
  position: relative;
  width: 250px;

  background-color: #fff;
  overflow: hidden;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust this value to control the blur height */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  /* filter: blur(0px); Adjust blur radius as needed */
  z-index: 1;
}
.card:hover::after {
  display: none; /* Remove blur on hover if desired */
}
.card .card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.category__title {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  font-weight: 500;
  color: white;
  z-index: 2;
}

/* swiper class */

.btn {
  color: rgb(255, 47, 0);
  display: none;

}

